.btn {
  background-color: rgb(8, 111, 176);
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;


  
   /* background-color: lightblue; */
  /* color: black; */
}
.btn:hover {
  background-color: lightblue;
  color: black;
}