.progress-bar{
  background-color: rgb(3, 156, 3);
  /* width: ; */
  /* height: 20px; */
  border-radius: 5px;
  height: 2rem ;
  /* overflow : hidden; */
}
.progress-container{
  background-color: rgb(68, 68, 68);
  width: 60vw  ;
  /* height: 2rem ; */
  border-radius: 5px;
}